{{> header}}

<ul class="list-group">
  {{#each collections.rabbits}}
    <li class="list-group-item">
      <h3>
        <a href="{{this.href}}">{{this.name}}</a>        
      </h3>
    </li>
  {{/each}}
</ul>

<ul>
  {{#each images.rabbits}}
    <li>
      <img src="{{this}}" />
    </li>
  {{/each}}
</ul>


{{> footer}}