{{> header}}

<div class="page-header">
  <h1>Rats</h1>
</div>

<ul class="list-group">
  {{#each collections.rats}}
    <li class="list-group-item">
      <h3>
        <a href="{{this.href}}">{{this.name}}</a>        
      </h3>
    </li>
  {{/each}}
</ul>

<div class="page-header">
  <h2>Gallery</h2>
</div>

<ul class="gallery gallery-full">
  {{#each images.rats}}
    <li class="image">
      <a href="{{this.regular}}">
        <div class="img-holder" style="background-image: url('{{this.small}}')">
        </div>
      </a>
    </li>
  {{/each}}
</ul>


{{> footer}}