<ul>
  {{#each collections.rats}}
    <li>
      <h3>
        <a href="{{this.href}}">{{this.name}}</a>        
      </h3>
    </li>
  {{/each}}

  <ul>
    {{#each images.rats}}
      <li>
        <img src="{{this}}" />
      </li>
    {{/each}}
  </ul>
</ul>